.screen-header {
display: flex;
justify-content: space-between;
align-items: center;
padding:var(--horizontal-space);
margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
    text-shadow: 6px 2px 2px rgb(0 0 0 / 20%)
}

.screen-header__title:hover{
    color: rgba(0,0,0,0.5);
    transform: scale(1.2);
}

.screen-header__icons span{
    margin-left: 25px;
    position: relative;
}